<div class="thumbnail">
  <p>Sources</p>
  <p>
    <% information_sources.each do |source| %>
        <% if source.logo %>
            <img class="interest-logo" src="<%= source.logo %>">
        <% end %>
    <% end %>
  </p>
</div>